[build]
builder = "NIXPACKS"

[deploy]
numReplicas = 1
sleepApplication = false
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[networking]
serviceDomain = "alphasecurity-production.up.railway.app"

[variables]
NODE_ENV = "production"
PORT = "$PORT"